---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Franklin Amador</h1>
			<p class="hero__text">
				En este lugar podrás conocer un poco sobre mí, bienvenido a mi portfolio.
			</p>
		</div>
   
	</div>
</section>
