---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" i18nKey="skills.title" />
		<p data-i18n="skills.description">
			Domino múltiples lenguajes incluyendo JavaScript, TypeScript, Python y Go. Especializado en desarrollo web moderno con React, Astro y Node.js, utilizando Tailwind, Sass y Bootstrap para diseño, combinado con bases de datos SQL y NoSQL.
		</p>
	</div>
</section>
