---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src=/img/foto.jpeg
			alt="Foto de perfil de Franklin Amador "
		/>
		

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
				¡Hola! Soy Franklin, un apasionado Full Stack Developer especializado en crear experiencias web modernas y funcionales. Actualmente estudio Ingeniería en Sistemas, combinando teoría académica con práctica profesional.
			</p>
			<p class="about__text">
				Me encanta transformar ideas en aplicaciones web elegantes utilizando tecnologías como React, Astro y Tailwind CSS. Cuando no estoy programando, disfruto de la música, aprender nuevas tecnologías, y relajarme en la naturaleza. Mis hobbies incluyen el origami, resolver puzzles, los cubos de Rubik y los videojuegos.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
