---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src=/img/foto.jpeg
			alt="Foto de perfil de Franklin Amador "
		/>
		

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" i18nKey="about.title" />
			<p class="about__text" data-i18n="about.description1">
				¡Hola! Soy Franklin, Full Stack Developer con enfoque en Data Engineering, Machine Learning y DevOps. Actualmente estudio Ingeniería en Sistemas, combinando teoría académica con práctica profesional en proyectos reales.
			</p>
			<p class="about__text" data-i18n="about.description2">
				Me apasiona construir sistemas que extraen valor de los datos: desde pipelines ETL hasta modelos ML en producción, pasando por infraestructura cloud automatizada. Trabajo con Python, FastAPI, Docker, Kubernetes y herramientas de observabilidad como Prometheus y Grafana. Cuando no estoy programando, disfruto de la música, la naturaleza, el origami, resolver puzzles, los cubos de Rubik y los videojuegos.
			</p>
		</div>
	</div>

</section>
