---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="Frank">
	<div class="terminal__skills">
		<div class="terminal__skills__container">
			<TerminalIcon
				src="/assets/javascript.svg"
				color="#FFFF00"
				name="JavaScript"
			/>
			<TerminalIcon
				src="/assets/typescript.svg"
				color="#3178C6"
				name="TypeScript"
			/>
			<TerminalIcon
				src="/assets/python.svg"
				color="#FFD43B"
				name="Python"
			/>
			<TerminalIcon
				src="/assets/golang.svg"
				color="#00ADD8"
				name="Go"
			/>
			<TerminalIcon
				src="/assets/react.svg"
				color="#61DAFB"
				name="React"
			/>
			<TerminalIcon
				src="/assets/Astro.svg"
				color="#FF5D01"
				name="Astro"
			/>
			<TerminalIcon
				src="/assets/nodejs.svg"
				color="#68A063"
				name="Node.js"
			/>
			<TerminalIcon src="/assets/html.svg" color="#FF000F" name="HTML" />
			<TerminalIcon src="/assets/css.svg" color="#00A3FF" name="CSS" />
			<TerminalIcon
				src="/assets/tailwind.svg"
				color="#06B6D4"
				name="Tailwind"
			/>
			<TerminalIcon
				src="/assets/bootstrap.svg"
				color="#7838FF"
				name="Bootstrap"
			/>
			<TerminalIcon
				src="/assets/sass.svg"
				color="#CC6699"
				name="Sass"
			/>
			<TerminalIcon
				src="/assets/mysql.svg"
				color="#00758F"
				name="MySQL"
			/>
			<TerminalIcon
				src="/assets/mongodb.svg"
				color="#47A248"
				name="MongoDB"
			/>
			<TerminalIcon
				src="/assets/docker.svg"
				color="#2496ED"
				name="Docker"
			/>
			<TerminalIcon
				src="/assets/rust.svg"
				color="#CE422B"
				name="Rust"
			/>
			<TerminalIcon
				src="/assets/graphql.svg"
				color="#E10098"
				name="GraphQL"
			/>
			<TerminalIcon
				src="/assets/jupyter.svg"
				color="#F37726"
				name="Jupyter"
			/>
			<TerminalIcon
				src="/assets/terraform.svg"
				color="#844FBA"
				name="Terraform"
			/>
		</div>
	</div>
</Terminal>
